<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sistema de Matrículas - UI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" />
    <style>
        ul { list-style: none; padding: 0; }
        li { margin: .4rem 0; }
    </style>
    </head>
<body>
<h1>Sistema de Matrículas</h1>
<p>Menu de navegação:</p>
<ul>
    <li><a th:href="@{/ui/alunos}">Alunos</a></li>
    <li><a th:href="@{/ui/professores}">Professores</a></li>
    <li><a th:href="@{/ui/disciplinas}">Disciplinas</a></li>
    <li><a th:href="@{/ui/login}">Login</a></li>
    <li><a th:href="@{/ui/curso/novo}">Cadastrar Curso</a></li>
    <li><a th:href="@{/ui/aluno/novo}">Cadastrar Aluno</a></li>
    <li><a th:href="@{/ui/professor/novo}">Cadastrar Professor</a></li>
    <li><a th:href="@{/ui/disciplina/nova}">Cadastrar Disciplina</a></li>
    <li><a th:href="@{/ui/oferta/nova}">Criar Oferta</a></li>
    <li><a th:href="@{/ui/periodo/novo}">Abrir Período</a></li>
    <li><a th:href="@{/ui/matricula}">Matrícula</a></li>
 </ul>
</body>
</html>


